extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Jelena Feliciano

        //- job title
        span Web developer


        .about-bio
          p.aboutInfo I am a UX/UI Designer and Front End Designer from Tampa, Florida. When I am not writing efficient code I enjoy spending time on the water whether paddle boarding or kayaking. I also enjoy solving complex problems to find geocaches in town and across the country.


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetching Public APIs
          li Node.js
          li Express
          li Pug
          li React
          

        h6 Contact Info

        ul
          li 813-735-1065
          li jfel217@gmail.com

        //- social media links 
        a.btn-link(href='https://www.linkedin.com/in/jelena-feliciano-b8ab3a155/' target="_blank") LinkedIn
       
        a.btn-link(href='https://github.com/JelenaMF' target="_blank") GitHub
        
        a.btn-link(href='https://twitter.com/DevelopsJelena' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back