extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 More About Me...

        span A Dedicated Web Developer


        .about-bio
          h2 This is Me...
          p
            | I am a Puerto Rican, Taino, American. I am a tireless seeker of knowledge with a strong desire to learn many languages. 
            |I've learned the language of music, when I taught myself how to play guitar. I can now enjoy a quiet conversation 
            |with the knowledge of ASL (American Sign Language) and then there's the technical language of JavaScript. One of my dreams is to master the  
            |art of full stack development starting with the basics of JavaScript, HTML, and CSS along with the many frameworks. I am always looking
            |out for exciting new projects to work on. If you look to the column on you're right, you will see my contact information
            |(if you're on your phone or tablet swipe up). Let's chat! 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetching Public APIs
          li Node.js
          li React
          

        h6 Contact Info

        ul
          li 813-735-1065
          li jfel217@gmail.com

        //- social media links 
        a.btn-link(href='https://www.linkedin.com/in/jelena-feliciano-b8ab3a155/' target="_blank") LinkedIn
       
        a.btn-link(href='https://github.com/JelenaMF' target="_blank") GitHub
        
        a.btn-link(href='https://twitter.com/DevelopsJelena' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back