extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Jelena Feliciano

        //- job title
        span Web developer


        .about-bio
          p.aboutInfo I have a passion for creating beautiful things, both on and off the web. Growing up, I dreamed of being a wizard. A wizard of the web comes pretty darn close to it. All we need is an idea and some willpower, and anything is possible.    
          p.aboutInfo Inclusion is my number one priority. I am passionate about making the web more accessible for everyone.  
  
      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetching Public APIs
          li Node.js
          li Express
          li Pug
          li React
          

        h6 Contact Info

        ul
          li 813-735-1065
          li jfel217@gmail.com

        //- social media links 
        a.btn-link(href='https://www.linkedin.com/in/jelena-feliciano-b8ab3a155/' target="_blank") LinkedIn
       
        a.btn-link(href='https://github.com/JelenaMF' target="_blank") GitHub
        
        a.btn-link(href='https://twitter.com/DevelopsJelena' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back