extends layout 

block content
    section
        h2= error.message
            h2= `error status code: ${error.status}`
            a(href='/') Go back to home page 
        img(src='/static/images/rsz_formerrors.jpg' alt="404 page not found image")


            