extends layout.pug

block content

  article.portfolio-intro
 
    h1 Discover, Inspire, Create, Repeat!
    p.profile Welcome to my mini portfolio website! Check out my latest works using JavaScript, HTML, and CSS.

  article.portfolio-project-thumbs
    .projects-box.box.grid
  
      each project in projects

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls.thumbnail}`, alt=`${project.image_urls.tnalt}`)
            h5= project.project_name

