extends layout.pug

block content

  article.portfolio-intro
 
    h1 Jelena Marie
    p.profile They say the proof is in the pudding, but in this case, the proof is in this portfolio. Check out the results.  

  article.portfolio-project-thumbs
    .projects-box.box.grid
  
      each project in projects

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls.thumbnail}`, alt=`${project.image_urls.tnalt}`)
            h5= project.project_name

