extends layout.pug

block content

  article.portfolio-intro
 
    h1 Ready to Change the World Wide Web?
    p.profile Technology has changed our world in so many ways in such a short time. I am eager to make my mark on this world, to be a part of that change. These are some of my project highlights, demonstrating my capability. 

  article.portfolio-project-thumbs
    .projects-box.box.grid
  
      each project in projects

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls.thumbnail}`, alt=`${project.image_urls.tnalt}`)
            h5= project.project_name

