extends layout.pug

block content

  article.portfolio-intro
 
    h1 Ready to Change the World?
    p.profile Technology has changed our world in so many ways in such a short time. I am eager to make my mark on this world, to be a part of that change. These are some of my project highlights, demonstrating my capability. 

  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data filecle  
      each project in projects
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.thumbnail}`, alt=`${tnalt}`)
            h5= project.project_name

