<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Jelena's Portfolio
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/animate.css')
    link(rel='stylesheet', href='/static/css/styles.css')
    link(rel='stylesheet', href='/static/css/large-screen.css')
    link(rel='stylesheet', href='/static/css/small-screen.css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src="/static/images/profilepic.png", alt='Profile Picture')
        .dev-intro-box

          h5 Jelena Feliciano

        
          p Hi, My name is Jelena. I am your friendly neighborhood multimedia developer. Currently working with JavaScript to make webpages and web applications. I aspire to join a development team that's passionate in building software that improves the current system.
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info') 

          span Jelena Feliciano

      block content

  script(src='/static/js/script.js').
