@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Urbanist:wght@200;500&display=swap');

/*
  Main styles
*/
* {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  background: black;
}

body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  transition: all 0.4s ease-out;
}

article {
  background: rgb(164, 115, 175); 
  width: 100%;
}

h1 {
  font-family: 'Bad Script', cursive;
  color: rgb(248, 240, 240);
}

h5{
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  color: white;
}

h6{
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 600;
}



.profile {
  font-family: 'Klee One', cursive;
  background-color: rgba(0, 0, 0, 0.445);
  color: rgb(248, 240, 240);
}

a {
  text-decoration: none;
  color:rgb(244, 205, 253)
}

.wrapper {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100%;
}


.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  width: 100%;
  max-width: 1200px;
  padding: 40px 50px 30px;
  background: rgb(164, 115, 175);
  border-bottom: 1px solid #eaeaea;
}

.box h1,
.box h6 {
  margin: 0 auto 8px;
}

.box h6 {
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 2px;
}

.box li {
  font-size: 18px;
}

h2 {
  color:rgb(250, 246, 246);
  font-family: 'Klee One', cursive;
}

/*
  Sidebar and mobile header
*/
nav {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
  background: #553071;
  
}

nav a {
  width: 100%;
  vertical-align: middle;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: rgb(220, 189, 213); 
}


nav a span {
  font-weight: bold;
  font-size: 1.25rem;
}

.sidebar {
  position: absolute;
  top: 0;
  left: -300px;
  bottom: 0;
  min-width: 300px;
  max-width: 300px;
  height: 100%;
  min-height: 100%;
  padding: 20px;
  background: #000;
}

.sidebar-info-box {
  margin: auto;
}

.thumbnail-box {
  padding: 0 10px;
}

.sidebar .thumbnail {
  width: 100%;
  max-width: 250px;
  border: 4px solid #fff;
}

.dev-intro-box {
  padding: 10px;
}

.projectInfo{
  color: black;
}

.sidebar h5 {
  color: #fefefe;
  margin: 0 auto 0.5rem;
}

.sidebar p {
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  font-size: 14px;
  color: #999
}

.sidebar a {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #555;
}

.header {
  vertical-align: middle;
  color: #fefefe;
  height: 40px;
  padding: 0.5rem;
  background: #0a0a0a;
  border-left: 1px solid #0a0a0a;
}

.header span {
  display: inline-block;
  font-weight: bold;
}

.header button {
  vertical-align: top;
  cursor: pointer;
  outline: none;
  position: relative;
  width: 18px;
  height: 16px;
  border: none;
  background: #0a0a0a;
  margin-top: 3px;
  margin-right: 10px;
  border-top: 2px solid #fefefe;
  border-bottom: 2px solid #fefefe;
}

.header button:after {
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  width: 20px;
  height: 2px;
  background: #fefefe;
}

/*animated elements*/
.btn-link:hover {
  color: goldenrod; 
}

.cell:hover {
  animation: pulse 1.5s cubic-bezier(.36,.07,.19,.97);
  border: 4px solid goldenrod;
}

.sidebar a:hover {
  font-size: 17px;
  color: goldenrod;
}

a:hover {
  color: goldenrod;
}

/*
  Home page styles
*/
.portfolio-intro {
  width: 100%;
  padding: 40px 50px 30px;
  background: url('https://4.bp.blogspot.com/-KC2Emc38jyY/UtJuKT9acjI/AAAAAAAAGd4/IWuc9LW2R2Y/s1600/dark-textured-background-pattern-picture-template-for-wordpress-blogger.jpg');
}

.portfolio-intro h1 {
  margin: 0 auto 8px;
  text-shadow: 5px 3px 3px  rgb(27, 25, 25);

}

.profile{
  font-size: 20px;
  font-weight: 800;
}

.projects-box h5 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  color: #222;;
  margin: 0 auto 8px;
}

.cell a {
  width: 100%;
}

.cell img {
  width: 100%;
  min-width: 100px;
  border: 4px solid #fff;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
}


/* 
  About and project pages styles 
*/
.about-intro-box p,
.project-info-box p {
  font-size: 125%;
}

.about-intro-box.box{
  background-image: url('https://images.pexels.com/photos/459301/pexels-photo-459301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.about-intro-box span {
  font-family: 'Klee One', cursive;
  color: white;
  font-weight: 800;
}

.about-bio {
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 0 15px;
  font-weight: 700;
  background-color: rgba(98, 58, 105, 0.658);
  color: rgb(237, 214, 247);
}

.skills-contact-box ul {
  margin-bottom: 35px;
}

.project-img {
  width: 100%;
  max-width: 1536px;
  margin-bottom: 15px;
  border: 4px solid #fff;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
}

.project-img-box{
  background-image: url('https://images.pexels.com/photos/459301/pexels-photo-459301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.btn-link {
  display: block;
  text-align: center;
  color: #fefefe;
  width: 100%;
  max-width: 255px;
  margin: auto 0 5px 0;
  padding: 0.85em 1em;
  background-color: #333;
  border: 1px solid transparent;
}

.aboutInfo {
  color: black;
}

